*{ /* configurar todas as tags HTML */
    margin:0; /* margem externa */
    padding:0; /* margem interna */
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

body{ /* estilo para o corpo da página */    
}

#corpo, #mes{
    width: 599px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
   /* background-color: #F00;*/
}

.entrada{ /* classe para os inputs */
    border:0;
    border-bottom: 1px #ccc solid;
    width: 100%;
    height: 30px;    
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#verde, #calcular {
    font-size: 1.2em;
    background: #008000;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto
   
}

#rodape { 
    border: 0;
    color: #ff0000;
    display: block;
    margin:0;
    position: absolute;
    left: 28%;
    margin-right: -30%;
  
}

table{ 
    border: 0;   
    display: block;
    margin-left: auto;
    margin-right: auto
   
}






